@charset "UTF-8";
#loginWrap {
	padding: 30px; height: 60%; width: 600px; margin: 0 auto;
	display: flex; flex-flow: row nowrap; justify-content: center; align-items: center;
}
input, select {box-sizing : border-box;}
#loginWrap form {
	width: 100%;
}
#loginTable {
	width: 100%; margin-bottom: 30px;
}
#loginTable th {
	width: 200px; font-size: 1.2em;
}
#loginTable th, td { height: 50px; }
#loginTable td input {
	outline: none; border: 0px;
	height: 60px; width: 100%; text-indent: 5px; border-bottom: 1px solid #7F7F7F;
	box-sizing: border-box; font-family: 'twayair';
}
#loginTable td input:focus {border-bottom: 2px solid #7AB53F;}
/* 아이디 저장 체크 박스 */
#loginTable #idRemember {
	color: #7AB53F; font-size: 0.7em; height: 30px;
	display: flex; flex-flow: row nowrap; align-items: center; padding-left: 5px;
}

/*로그인 버튼*/
#loginTable #loginChk {text-align: right; padding-top: 20px;}
#loginTable #loginChk input {
	background-color: #7F7F7F; outline: none; border: 0px; border-radius: 10px; color: #fff;
	padding: 10px 30px; font-size: 1em; cursor: pointer; font-family: 'twayair';
	width: 100px; height: 40px; text-indent: 0;
}
#loginTable #loginChk {text-align: right; padding-top: 20px;}
#loginTable #loginChk input {
	background-color: #7F7F7F; outline: none; border: 0px; border-radius: 10px; color: #fff;
	padding: 10px 30px; font-size: 1em; cursor: pointer; font-family: 'twayair';
	width: 100px; height: 40px; text-indent: 0;
}
#goJoin {
	background-color: #7F7F7F; outline: none; border: 0px; border-radius: 10px; color: #fff;
	padding: 10px 30px; font-size: 1em;
	cursor: pointer; 
}
#goJoin:hover {background-color: #7AB53F;}